@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 28%
    left: 55%
    width: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 55% 
  @media only screen and (max-width: 1023px)
    width: 100%

.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  width: 33%
    
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #A20097 !important

.cen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto


.bloque-texto-g.color-secundario 
  background-color: #A4B7E9

.tit
  background-color: #1D4BC9
  border-radius: 50px 
  width: fit-content
  padding: 8px 20px 8px 65px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 15px
  & 
    h3
      color: white
.tit img
  width: 63px
  height: 63px
  position: absolute
  top: 30%
  left: -18px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    top: 40%
  @media only screen and (max-width: 767px)
    top: 48%
    width: 55px
    height: 55px

.bg1
  background: url('../assets/curso/tema1/f1.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  border-radius: 20px
  transition: all 0.3s ease
  cursor: pointer
  &:hover 
    background: url('../assets/curso/tema1/f2.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    border-radius: 20px
    transition: all 0.3s ease
    cursor: pointer

.bg2
  background-color:#A4B7E9

.bg3
  background-color:#6D33A9
  & p
    color: white

.bg4
  background-color: #112D78

.bg5
  background-color:#6D33A9
  border-radius: 20px

.bg6
  background-color: #E8ECFA
  border-radius: 20px

.bg7
  background-color: #61005A

.bg8
  background: url('../assets/curso/tema5/7.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  border-radius: 20px
  transition: all 0.3s ease
  cursor: pointer
  border-radius: 20px 0px 0px 20px
  @media only screen and (max-width: 767px)
    border-radius: 20px
.bg9
  background: url('../assets/curso/tema5/8.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  border-radius: 20px
  transition: all 0.3s ease
  cursor: pointer
  border-radius: 0px 20px 20px 0px
  @media only screen and (max-width: 767px)
    border-radius: 20px

.bg10
  background-color: #ffffff
  border-radius: 20px

.tarjeta-audio.color-acento-botones 
  border-color: #4FF0A2
.tarjeta-audio 
  border: 3px solid
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto 
  color: black
.fst-italic 
  font-style: normal !important
.tarjeta-audio.color-acento-botones .tarjeta-audio__input input[type=range] 
    background: #EDFEF6
.tarjeta.color-primario i
    color: #000
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto
  color: black
  font-style: normal !important

.cajon.color-primario
  background-color: #F0EAF6
  &:before 
    background-color: #6D33A9

.tarjeta--slyder.b1
  background: url('../assets/curso/tema2/fd1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  transition: all 0.3s ease
  cursor: pointer
.slyder-f__btn i 
  font-size: 4rem
  color: #4FF0A2

.acordion__accion__btn--b
  background-color: #4FF0A2
  transition: all 0.3s ease-out
  border: #4FF0A2
  color: black
.acordion__activo
  background-color: #F6E5F4 !important
  transition: all 0.3s ease-out
  h3
    color: black !important
.tarjeta--grey
  border-radius: 20px
  background-color: #DA99D5
  //h3
    color: white
.acordion.press .acordion__activo .acordion__accion__btn--b
  background-color: #4FF0A2
  color: black


.fondo1
  background: url('../assets/curso/tema3/fd3.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
    background-size: 100% 
.im1
  margin-bottom: -47px

@media only screen and (min-width: 768px) and (max-width: 1023px)
  .p-5.fon
    padding: 2.5rem !important
@media only screen and (max-width: 767px)
  .p-5.fon
    padding: 1.1rem !important

.tarjeta--slyder.b2
  background-color: #E8ECFA
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  transition: all 0.3s ease
  cursor: pointer

.tarjetaf
  background: url('../assets/curso/tema3/fd4.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  overflow: hidden
  transition: transform 0.3s ease
  &
    h4, p
      color: white
    
.slyder-a__bullets__item 
  background-color: #EDFEF6
  border-color: #EDFEF6
.slyder-a__bullets__item--active 
  background-color: #4FF0A2 !important
  border-color: #4FF0A2 !important
.slyder-a__tipo-b .slyder-a__btn--sigt 
  background-color: #4FF0A2
.slyder-a__tipo-b .slyder-a__btn--atrs 
  background-color: #4FF0A2

.tarjeta.color-b
  background-color: #6D33A9
  width: 100%
  &
    h4, p
      color: white

.cajon.color-acento-botones 
  background-color: #EDFEF6

.fondo3
  background: url('../assets/curso/tema3/fondo5.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.4rem
  margin-top: -30px
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
    background-size:  100% 100%

.bloque-texto-g.color-acento-contenido 
  background-color: #61005A

.bloque-texto-g.color-secund
  background-color: #12263F

.fd5
  background: url('../assets/curso/tema5/fd5.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.4rem
  margin-top: -30px
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem

.acordion__accion__btn--a
  background-color: #4FF0A2
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azull
  background-color: #C4ADDC
  h3
    color: black
.acordion__accion__btn--a i, .acordion__accion__btn--b i .activ
  color: black
.acordion.activ .acordion__activo .acordion__accion__btn--a
  background-color: #4FF0A2
  i
    color: black !important
.activ
  .acordion__activo 
    background-color: #F0EAF6 !important
    transition: all 0.3s ease-out
    h3
      color: black 


//////////////////////////////////////TABLAS////////////////////////////////////

.tabla-a thead 
  border-top: 6px solid #A20097
  color: black
  background-color: #F0EAF6
.tabla-a th
  border-color: #F0EAF6
.tabla-a
  table
    width: 100%
    th, td
      vertical-align: top
      text-align: left
      //border: none
  table th
    padding: 16px 15px
    text-align: left
  table td 
    padding: 13px 15px

////////////////////////TABLAS PEQUEÑAS//////////////////////////////

.tabla-a.tabla-peq
  overflow-x: visible !important
  overflow: visible !important
  @media (max-width: 991px)
    overflow-x: auto !important
    -webkit-overflow-scrolling: touch !important
    display: block !important
  table
    min-width: auto !important
    width: 100% !important
    table-layout: auto !important
    @media (max-width: 991px)
      min-width: 500px !important 

.tabla-a.tabla-peq.tabla1
  tbody
    td:first-child
      font-weight: bold
    //td
      border-left: 2.5px solid #AFAFAF
    //td:first-child
      border-left: none
  th:nth-child(1)
    width: 13%
  th:nth-child(2)
    width: 21%
  th:nth-child(3)
    width: 21%
  th:nth-child(4)
    width: 23%
  th:nth-child(5)
    width: 24%

.tabla-a.tabla-peq.tabla2
  table th
    padding: 19px 17px
    text-align: left
  table td 
    padding: 19.2px 17px
  tbody
    td:first-child
      font-weight: bold
    //td
      border-left: 2.5px solid #AFAFAF
    //td:first-child
      border-left: none
  th:nth-child(1)
    width: 14%
  th:nth-child(2)
    width: 21%
  th:nth-child(3)
    width: 23%
  th:nth-child(4)
    width: 21%
  th:nth-child(5)
    width: 21%

.tabla-a.tabla-peq.tabla3
  tbody
    td:first-child
      font-weight: bold
    //td
      border-left: 2.5px solid #AFAFAF
    //td:first-child
      border-left: none
  th:nth-child(1)
    width: 22%
  th:nth-child(2)
    width: 39%
  th:nth-child(3)
    width: 39%